# to end of line is a comment
# Place all settings in 'setup' section header :
[setup]
# Rest of lines are <Parameter> ':' <Value>
# e.g. define URL for the repository to mirror:
repository: http://azza.tqc.com.au/movies3/work/debs/security.debian.org
# Restrict to given space seperated list of releases (distributions) to mirror:
distributions: wheezy/updates
# Name local directory to place mirror into:
lmirror: azza-updates
